<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
 <session-factory>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password"></property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="hibernate.show_sql">true</property>
  <mapping resource="hib/dto/Admintable.hbm.xml"/>
  <mapping resource="hib/dto/Complaintable.hbm.xml"/>
  <mapping resource="hib/dto/Feedbacktable.hbm.xml"/>
  <mapping resource="hib/dto/Ordertable.hbm.xml"/>
  <mapping resource="hib/dto/Producttable.hbm.xml"/>
  <mapping resource="hib/dto/Renter.hbm.xml"/>
  <mapping resource="hib/dto/Usertable.hbm.xml"/>
 </session-factory>
</hibernate-configuration>